/ATMega328P-AU/src/main/sloeber.ino.cpp
/ATMega328P-AU/src/main/.project
/ATMega328P-AU/src/main/.cproject
/ATMega328P-AU/src/main/.sproject
/ATMega328P-AU/src/main/spec.d
/ATMega328P-AU/src/main/.settings/**
/ATMega328P-AU/src/main/Release/**